<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><p>WELCOME TO SWIDNICA</p></center>
    <div id="kolor">

    </div>
  </body>
</html>